.cardHead {
  background-color: #f8f9fa;
}
.mainCard {
  position: relative;
  transition: 0.4s;
}

.updateBtn {
  position: absolute;
  transform: scale(0);
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCard:hover .updateBtn {
  transform: scale(1);
}
