tr th:nth-child(1) {
  text-align: left;
}
tr th:nth-child(2) {
  text-align: center;
}
tr th:nth-child(3) {
  text-align: right;
}
tr td:nth-child(1) {
  text-align: left;
}
tr td:nth-child(2) {
  text-align: center;
}
tr td:nth-child(3) {
  text-align: right;
}
